@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

.slidev-layout {
  padding: 0;
  letter-spacing: 0.05em;
  font-family: 'Kosugi', sans-serif;
  color: #ffffff;
}

.slidev-layout.cover {
  background-image: url(/background-cover.png);
  background-position: center;
}

.slidev-layout p {
  margin: 0;
}

.slidev-layout h1 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
}
