@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap');

.slidev-layout {
  --base-text-color: #ffffff;
  --box-contents-background-color: rgb(var(--box-contents-background-color-rgb));
  --box-contents-background-color-rgb: 216, 221, 225;
  --box-contents-text-color: #1b1465;
  --box-contents-border-color: var(--box-contents-text-color);

  padding: 0;
  letter-spacing: 0.05em;
  font-family: 'M PLUS 1p', sans-serif;
  color: var(--base-text-color);
}

.slidev-layout.cover {
  background-image: url(/background-cover.png);
  object-fit: cover;
  width: 100%;
  height: 101%; /* 画像のアスペクト比を考慮して1%余分に設定。本来なら画像のアスペクト比を修正すべき。 */
}

.slidev-layout.cover p {
  margin: 0;
}
