@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap');

.slidev-layout {
  --box-contents-background-color: rgb(var(--box-contents-background-color-rgb));
  --box-contents-background-color-rgb: 216, 221, 225;
  --box-contents-border-color: var(--section-contents-color);
  --section-contents-color: #1b1465;

  padding: 0;
  letter-spacing: 0.05em;
  font-family: 'M PLUS 1p', sans-serif;
  color: #ffffff;
}

.slidev-layout.cover {
  background-image: url(/background-cover.png);
  background-position: center;
}

.slidev-layout.cover p {
  margin: 0;
}
