.slidev-layout {
  background-position: center;
  padding: 0;
}

.slidev-layout.cover {
  background-image: url(../assets/background-cover.png);
  background-position: center;
  padding: 0;
}

.slidev-layout p {
  margin: 0;
}
